body {
    font: 0.9em/150% Helvetica, Arial, sans-serif;
    padding: 0.9em;
    margin: 0 auto;
    max-width: 50em;
}

h1, h2, h3, p {
    margin: 0px;
    font-size: 0.9em;
}

ul {
    margin-top: 1px;
}

.open {
    color: green;
}

.closed {
    color: red;
}

.no_bikes {
    color: red;
}

.rare_bikes {
    color: orange;
}

.lot_of_bikes {
    color: green;
}

.station {
    padding: 0px 1px 1px 10px;
    margin: 2px;
    background-color: Cornsilk;
    width: 23em;
    float: left;
    border: solid;
}

.name {
    font-weight: bold;
}

.open, .closed {
    font-weight: bold;
}