<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Oh le joli petit site{% endblock %}</title>
    {% block includes %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'velouse/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'velouse/style.css' %}">
    <script src="{% static 'velouse/jquery.min.js' %}"></script>
    <script src="{% static 'velouse/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    {% endblock %}
</head>
<body>
{% block header %}
<div class="d-flex justify-content-between bg-secondary p-1 bg-info text-light">
    <a role="button" class="btn" href="{% url 'login'%}">
        <h1 class="p-2 m-2 flex-grow-1 text-light">
        {% if user.is_authenticated %}
          {{ user.get_username }}, tu es
          {% else %}
          Vous êtes
        {% endif %}
         sur MON site !
        </h1>
    </a>
</div>
<br>
{% endblock %}
<div class="container">
  {% block content %}<!-- default content text (typically empty) -->{% endblock %}
</div>
</body>
</html>